#site {
  width: 100vw;
  height: 100vh;
  background: url("../public/stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#inputs {
  width: 98%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputs > h3 {
  color: white;
}

#outputs {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
}

#field {
  width: 77%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
}

#scoreboard {
  width: 20%;
  height: 100%;
  background-color: grey;
}

#football-field {
  background-color: forestgreen;
  flex: 9;
  display: flex;
  flex-direction: row;
}

#runner {
  background-color: azure;
  flex: 1;
}

.main-field {
  flex: 8;
  border-left: 5px solid white;
  border-right: 5px solid white;
  background: repeating-linear-gradient(
    to right,
    forestgreen,
    forestgreen 57px,
    white 57px,
    white 59px
  );
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.main-field > span {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.points-display {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.team-points {
  margin-top:1px;
  height: 5%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.endzone {
  background-color: maroon;
  color: white;
  writing-mode: vertical-lr;
  text-orientation:  sideways;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startzone {
  background-color: maroon;
  color: white;
  font-weight: bold;
  text-shadow: black 1px 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

/* .scoreboard {

} */