#site {
  width: 100vw;
  height: 100vh;
  background: url("../public/stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 1s opacity 4s ease-in; 
}

.final-results {
  width: 50%;
  height: 70%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-results > h1 {
  font-size: 2.5rem;
}
.final-results > ol {
  font-size: 2rem;
}

#inputs {
  width: 98%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputs > h3 {
  color: white;
}

#outputs {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
}

#field {
  width: 77%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
}

#scoreboard {
  width: 20%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.winners-circle {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-weight: bold;
}

.winners-circle > li {
  margin-top:  10px;
  margin-bottom: 10px;
}

#football-field {
  background-color: forestgreen;
  flex: 9;
  display: flex;
  flex-direction: row;
}

form {
  margin-top: -30px;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.input-field {
  width: 90%;
  border-radius: 5px;
  padding: 3px;
}

.submit-button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 50%;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.submit-button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.submit-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.submit-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.submit-button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.submit-button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.submit-button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.submit-button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.submit-button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buttons {
  margin-top: 15px;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-green {
  appearance: button;
  background-color: #2f6615;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 40%;
}

.button-green:after {
  background-clip: padding-box;
  background-color: #54ac1a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-green:main,
.button-green:focus {
  user-select: auto;
}

.button-green:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-green:disabled {
  cursor: auto;
}

.button-red {
  appearance: button;
  background-color: #921313;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 40%;
}

.button-red:after {
  background-clip: padding-box;
  background-color: #f1443e;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-red:main,
.button-red:focus {
  user-select: auto;
}

.button-red:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-red:disabled {
  cursor: auto;
}

.main-field {
  flex: 8;
  border-left: 5px solid white;
  border-right: 5px solid white;
  background: repeating-linear-gradient(
    to right,
    forestgreen,
    forestgreen 57px,
    white 57px,
    white 59px
  );
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.main-field > span {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.points-display {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.team-points {
  margin-top:1px;
  height: 5%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.endzone {
  background-color: maroon;
  color: white;
  writing-mode: vertical-lr;
  text-orientation:  sideways;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startzone {
  background-color: maroon;
  color: white;
  font-weight: bold;
  text-shadow: black 1px 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

/* .scoreboard {

} */